.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-f {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper {
    background-image: url("/images/backgrounds/wrapper.jpg");
    height: 98vh;
    background-size: cover;
}

.wrap-content img {
    width: 5vw;
}

.wrap-content p {
    color: white;
    font-size: 3vw;
}

.wrap-content .w-caption {
    font-size: 1.1vw;
}

.about .a-title {
    font-size: 2vw;
}

.services {
    background-image: url("/images/backgrounds/s_image.jpg");
    height: 50vh;
    background-size: cover;
}

.services p {
    font-size: 1.3vw;
}

.services .bold {
    font-size: 2.2vw;
}

.what-we-do {
    padding: 1.4vw 1vw;
    /* margin-bottom: 5vw; */
}

.what-we-do .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.what-we-do .bold {
    font-weight: bold;
    font-size: 2vw;
    padding: 2vw;
}

.card {
    border: none;
}

.card img {
    width: 6vw;
    height: 8vw;
    object-fit: fill;
}

.card-body p {
    font-size: 1.1vw;
    height: 5vw;
}